/* GroceryList.css */

.grocery-list-page {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #F8F8F8;
  padding: 20px;
  background-color: #F5CB58;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  overflow: hidden; 
  }
  
  .grocery-list-page h2 {
    font-size: 34px;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .gl-container{
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 50px 50px 0 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 90%;
    margin-top: 0; 
    flex: 1; 
    position: relative;
    bottom: 0;
    overflow-y: auto;
  }
  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1000px;
  }
  
  .grocery-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    font-size: 16px;
  }
  
  .grocery-list li {
    background-color: #F5CB58;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 5px 0;
    text-align: left;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .grocery-list li:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .done-btn {
    background-color: #28690c;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 15px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 500px;
    transition: background-color 0.3s ease;
    align-self: flex-start;
    margin-left: 20px;
  }
  
  .done-btn:hover {
    background-color: #0056b3;
  }
  